@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  @apply font-bold text-5xl;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: #ffff;
  }
}

/* width */
/* ::-webkit-scrollbar {
  width: 4px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f6f6f6;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #fcd290;
  border-radius: 5px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #ff9d00;
} */
